body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    color: black;
}

h1 {
    background-color: rgb(115, 115, 250);
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}